# raw data
data/raw_data
# datasets
datasets
# VS Code
.vscode
.ipynb_checkpoints
# images
*.png

# log files
*.log

#compiled python files
*.pyc

# Jupyter Notebook checkpoints
*.ipynb_checkpoints

#test notebooks
test.ipynb
FileChooserTest.ipynb