# raw data
data/Rohdaten

# generated datasets
datasets/*

# GitHub
.github/

# VS Code
.vscode

# images
*.png

# log files
*.log

#compiled python files
*.pyc

\datamodel_b07_tc

# generated python objects
datamodel_b07_tc\core

# compiled bython files
datamodel_b07_tc/__pycache__

# generated schemes of the data model
datamodel_b07_tc/schemes

# to do list for this notebook
todo.txt

# test notebook to try new things
test_notebook.ipynb